<section id="gain" class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 bg-grow-graph"></div>
        <div class="col-12 col-md-6 p-1 p-md-5 text-center">
            <h4 class="font-weight-light">
                <img src="{{baseurl}}/assets/img/nielsen_logo.svg" width="25%" class="pb-3">
                <p>Frogtek es partner de Nielsen en mediciones del Canal Tradicional desde 2015</p>
                <p>Grandes empresas ya se benefician de datos obtenidos de
                    <span class="analytics-brand">Frogtek Analytics</span></p>
            </h4>
            <p class="display-4">¡No te quedes atrás!</p>
            <ul class="text-left d-inline-block ">
                <li>Aprende del mercado en tiempo real</li>
                <li>Consigue conclusiones accionables</li>
                <li>Mejora la efectividad en ventas</li>
            </ul>
            <div>
                <a href="{{ site.analytics_form_url }}" class="btn btn-lg btn-primary"
                   data-aos="zoom-out" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                   Pruébalo gratis</a>
            </div>
        </div>
    </div>
</section>
