<footer>
    <div class="container-fluid w-100 bg-dark p-3 p-md-5">
        <div class="row">

            <div class="col-12 col-md-4">
                <h5 class="text-uppercase">Más de Frogtek</h5>
                <dl>
                    <dt><a href="/">Frogtek</a></dt>
                    <dd>Web corporativa</dd>
                    <dt><a href="http://tiendatek.info/">Tiendatek</a></dt>
                    <dd>Nuestro producto para tenderos</dd>
                    <dt><a href="http://developing.frogtek.org">Developing Frogtek</a></dt>
                    <dd>La web de nuestro departamento de tecnología</dd>
                </dl>
            </div>

            <div class="col-12 col-md-4 text-center">
                <div class="rotate-180">
                    <a href="#cover" class="page-scroll m-auto">
                        <i class="icon icon-scroll text-secondary display-3"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <a href="/"><img src="/assets/img/logo.svg" class="w-75 py-4 img-fluid" alt="powered by Frogtek"></a>

                <h5 class="text-uppercase">Contactanos</h5>
                <p>Puedes contactarnos a través de las redes sociales:

                    <a target="_blank" href="http://twitter.com/frogtek"><span
                            class="icon icon-twitter text-light"></span></a>


                    <a target="_blank" href="https://www.linkedin.com/company/frogtek/"><i
                            class="icon icon-linkedin text-light"></i></a>
                    <br/>
                    o enviando un email a <a href="mailto:'info@frogtek.org'">info<i
                            class="icon icon-at text-light"></i>frogtek.org</a>
                </p>

                <p class="copyright">
                    <a href="/legal/">Condiciones legales</a><br>
                    &copy; Frogtek 2011 - today
                </p>
            </div>


        </div>

    </div>
</footer>