<section id="features" class="features">

    <div class="container-fluid">
        <div class="row justify-content-center bg-dark text-white">
            <div class="col col-md-8 p-1 p-md-4 text-center display-4">
                Con nuestros datos apoyamos el crecimiento de tu negocio
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col text-center p-1 p-md-5">
                <h2>Toda la potencia de las SOLUCIONES <span class="analytics-brand">Frogtek Analytics</span>
                    a tu alcance</h2>
            </div>
        </div>

        <div class="row analytics-features">

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Solución completa<br/>(de extremo a extremo)</h3></div>
                </div>
                <p>
                    Controlamos el proceso desde el entrenamiento del tendero hasta la visualización de los
                    reportes.
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Red propia de puntos de venta</h3></div>
                </div>
                <p>
                    Más de 1500 tiendas en 12 ciudades de la República Mexicana y creciendo.
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Datos de calidad</h3></div>
                </div>
                <p>
                    Garantizamos que las tiendas que usamos en nuestro panel pasan por el
                    escáner el 95% de sus ventas.
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Con todo detalle</h3></div>
                </div>
                <p>
                    Flexibilidad en la agrupación que necesites, manejamos el mínimo nivel de detalle:
                    producto (SKU), transacción, hora, ciudad...
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Rápidos</h3></div>
                </div>
                <p>
                    Obtenemos los datos de los tenderos en tiempo real, nuestros <i>insights</i> están
                    disponibles en una semana.
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Valor por tu inversión</h3></div>
                </div>
                <p>
                    Ofrecemos un modelo de pago por uso, nuestros productos pueden ser shots puntuales,
                    <i>trackings</i> periódicos... tú decides
                </p>
            </div>


        </div>
    </div>

    <div class="d-flex align-self-baseline d-cover continue container">
        <a href="#products" class="page-scroll m-auto">
            <i class="icon icon-scroll text-secondary display-3"></i>
        </a>
    </div>


</section>
