<nav id="top" class="analytics navbar sticky-top navbar-expand-lg navbar-dark bg-analytics-nav">
    <a class="navbar-brand page-scroll w-50" href="#top">
        <img src="{{site.baseurl}}/assets/img/logo_analytics.png" alt="Frogtek" class=".d-none .d-sm-block">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#frogtekMenu"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="frogtekMenu">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end text-right">
            <li>
                <a class="nav-item nav-link page-scroll"
                   href="#features">Nuestro panel</a>
            </li>
            <li>
                <a class="nav-item nav-link page-scroll"
                   href="#products">Productos</a>
            </li>
            <li>
                <a class="nav-item nav-link page-scroll"
                   href="#gain">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
