<section id="features" class="features">

<div class="container">
        <div class="row ">
            <div class="col text-center p-1 p-md-5">
                <h2>¿Cómo lo hacemos?</h2>
            </div>
        </div>



        <div class="row analytics-features">

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <center><img src="/assets/img/tiendita_abarrotes.png" alt="Tiendita de abarrotes"><br>
                      <h4>Tiendas de abarrotes</h4></center>

            </div>
          </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                  <center><img src="/assets/img/sku.png" alt="sku"><br>

                  <h4>Procesamiento de información<br> con Inteligencia Artificial<br></h4></center>
                </div>

            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
              <center><img src="/assets/img/insights_3_clics.png" alt="Insights en 3 clicks"><br>

                <h4>Insights en 3 clics</h4></center>
                </div>

            </div>

        </div>
  </div>
<p>
    <div class="container-fluid">
        <div class="row justify-content-center bg-dark text-white">
            <div class="col col-md-8 p-1 p-md-4 text-center display-4">
                Toma decisiones basadas en datos para el crecimiento de tu marca
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col text-center p-1 p-md-5">
                <h2>Toda la potencia de las SOLUCIONES <span class="analytics-brand">Frogtek Analytics</span>
                    a tu alcance</h2>
            </div>
        </div>

        <div class="row analytics-features">

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>La muestra electrónica de tiendas más grande de México</h3></div>
                </div>
                <p>
                    Contamos con más de 1800 tiendas en las 12 principales ciudades de México y procesamos más de 7 millones de tickets por mes
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Datos de alta calidad</h3></div>
                </div>
                <p>
                    Utilizamos algortimos de inteligencia aritificial para garantizar la calidad de la información
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Insights en 3 clics</h3></div>
                </div>
                <p>
                    Sin extraciones eternas y tablas confusas, presentamos los datos de una forma ágil y clara
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Granularidad y personalización</h3></div>
                </div>
                <p>
                    El mínimo nivel de lectura es el producto (SKU) y podemos hacer agrupaciones a la medida: por empaque, tamaño, contenido, etc. ¡Medimos fuentes de abastecimiento y granel!
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Toma decisiones en tiempo récord</h3></div>
                </div>
                <p>
                    Te mostramos el desempeño de tus marcas semana a semana
                </p>
            </div>

            <div class="col-12 col-md-4">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-2"><i class="icon icon-check d-inline-block"></i></div>
                    <div class="col"><h3>Valor por tu inversión</h3></div>
                </div>
                <p>
                    Paquetes basados en el uso de la información, continuo o shots puntuales, no pagas por lo que no usas
                </p>
            </div>
            </div>


        </div>


    <div class="d-flex align-self-baseline d-cover continue container">
        <a href="#products" class="page-scroll m-auto">
            <i class="icon icon-scroll text-secondary display-3"></i>
        </a>
    </div>


</section>
