<section id="products" class="container-fluid bg-light">

    <div class="row pt-1 pt-md-4">
        <div class="col text-center"><h2>Un producto <span class="analytics-brand">Frogtek Analytics</span>
            para cada necesidad</h2></div>
    </div>

    <div class="row p-1 p-md-4">
        <div class="col-12 col-md-3 d-flex  flex-row  align-items-stretch">
            <div class="card analytics-product" data-aos="zoom-in" data-aos-easing="ease"
                 data-aos-delay="100">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-launch"></i>
                    </div>
                    <h5 class="card-title text-center">Lanzamiento de productos</h5>
                    <p class="card-text">Conoce la tracción de los nuevos productos; distribución, ventas
                        promedio por tienda, canibalización y precios</p>
                </div>
                <div class="text-center align-self-bottom pb-3">
                    <a href="{{ site.analytics_contact_url }}" class="btn btn-lg btn-outline-primary">lo
                        quiero</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 d-flex flex-row  align-items-stretch">
            <div class="card analytics-product" data-aos="zoom-in" data-aos-easing="ease"
                 data-aos-delay="300">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-price"></i>
                    </div>
                    <h5 class="card-title text-center">Precios</h5>
                    <p>Entiende la estructura de precios del canal tradicional, al nivel de detalle que
                        necesites</p>
                </div>
                <div class="text-center align-self-bottom pb-3">
                    <a href="{{ site.analytics_contact_url }}" class="btn btn-lg btn-outline-primary">lo
                        quiero</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card analytics-product" data-aos="zoom-in" data-aos-easing="ease"
                 data-aos-delay="500">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-category"></i>
                    </div>
                    <h5 class="card-title text-center">Categoría</h5>
                    <p>Mide las variables de ventas de cada categoría: participación de mercado, distribución
                        numérica, ventas promedio, precios promedio</p>
                </div>
                <div class="text-center align-self-bottom pb-3">
                    <a href="{{ site.analytics_contact_url }}" class="btn btn-lg btn-outline-primary">lo
                        quiero</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch" data-aos="zoom-in"
             data-aos-easing="ease"
             data-aos-delay="700">
            <div class="card analytics-product">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-survey"></i>
                    </div>
                    <h5 class="card-title text-center">Encuestas electrónicas</h5>
                    <p>Preguntamos a los tenderos y te ofrecemos las respuestas segmentadas por las variables
                        que tú decidas</p>
                </div>
                <div class="text-center align-self-bottom pb-3">
                    <a href="{{ site.analytics_contact_url }}" class="btn btn-lg btn-outline-primary">lo
                        quiero</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center pt-4" data-aos="zoom-in" data-aos-easing="ease" data-aos-delay="300">
            ¿no encuentras lo que buscas?... es posible que podamos hacerte un panel a medida
            <a href="{{ site.analytics_contact_url }}" class="btn btn-sm btn-outline-primary">hablemos</a>
        </div>
    </div>

    <div class="d-flex align-self-baseline d-cover continue">
        <a href="#gain" class="page-scroll m-auto">
            <i class="icon icon-scroll text-secondary display-3"></i>
        </a>
    </div>
</section>
