<section id="features" class="features">

    <div class="container">
        <div class="row ">
            <div class="col text-center p-1 p-md-5">
                <h2>Solo en octubre 20% de descuento</h2>
                <img src="/assets/img/precios.png" style="width:100%" alt="precios">
            </div>
        </div>

    </div>

    <div class="d-flex align-self-baseline d-cover continue container">
        <a href="#products" class="page-scroll m-auto">
            <i class="icon icon-scroll text-secondary display-3"></i>
        </a>
    </div>


</section>
