<section id="cover">
    <div class="analytics-cover jarallax">
        <img class="jarallax-img" src="{{ baseurl }}/assets/img/backdata_top.jpg"
             alt="frogtek analytics">
        <div class="cover-slogan d-flex flex-column align-items-center">
            <div class="d-flex align-self-center flex-column justify-content-center flex-fill text-white m-auto text-center w-100">
                <div class="container">
                    <div class="row" data-aos="zoom-in"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="1000"
                         data-aos-delay="100">
                        <div class="col text-center">

                            <div style="margin-top:150px"><h2>Es el momento de planificar el 2020</h2></div>
                        </div>
                    </div>

                    <div class="row justify-content-center"
                         data-aos="zoom-in"
                         data-aos-easing="ease-in"
                         data-aos-duration="1000"
                         data-aos-delay="200">
                        <div class="col col-md-8 text-center">
                          <h5><span class="analytics-brand"><strong>Frogtek Analytics</strong></span>  te presenta el paquete de datos más completo de México<br/>
                          para que planifiques el próximo año<span class="analytics-brand"><strong> en solo 3 clics</strong></span></h5>
                        </div>
                    </div>

                    <div class="row p-5">
                      <div class="col">
                          <div class="display-1 d-inline-block m-1"
                               data-aos="zoom-in"
                               data-aos-easing="ease-in-sine"
                               data-aos-duration="1000"
                               data-aos-delay="300">Back
                          </div>
                          <div class="display-1 d-inline-block m-1 text-frogtek-orange"
                               data-aos="zoom-in"
                               data-aos-easing="ease-in-sine"
                               data-aos-duration="1000"
                               data-aos-delay="600">Data
                          </div>
                          <div class="display-1 d-inline-block m-1"
                               data-aos="zoom-in"
                               data-aos-easing="ease-in-sine"
                               data-aos-duration="1000"
                               data-aos-delay="700">2019
                          </div>
                      </div>
                    </div>


                    <div class="container-fluid w-100 p-3 p-md-5">
                                         <div class="row">

                                             <div class="col-12 col-md-6 text-left">
                                               <div>
                                                 <img src="/assets/img/check.png" alt="check" > <span style="font-size:24px;margin:100 0 40 0px"> Información a nivel SKU</span><br>
                                                 <div style="margin-top:15px"><img src="/assets/img/check.png" alt="check" ><span style="font-size:24px;margin:40 0 40 0px"> Tablero en línea disponible 24/7</span><br></div>
                                                 <div style="margin-top:15px"><img src="/assets/img/check.png" alt="check"><span style="font-size:24px;margin:40 0 40 0px"> Segmentación semanal</span><br></div>
                                               <div style="margin-top:15px"><img src="/assets/img/check.png" alt="check" ><span style="font-size:24px;margin:40 0 40 0px"> Información sobre tus marcas y la competencia</span><br></div>
                                                 <div style="margin-top:15px"><img src="/assets/img/check.png" alt="check"><span style="font-size:24px;margin:40 0 40 0px"> Distribución, SOM, ventas, precios, fuentes de abastecimiento y mucho más</span><br></div>
                                               </div>
                                             </div>

                                             <div class="col-12 col-md-6">
                                               <script type="text/javascript" src="https://form.jotformeu.com/jsform/92752624428361"></script>
                                             </div>
                                           </div>
                                     </div>

                </div>

            </div>
        </div>
        <div class="text-center btn-next container">
            <a href="#features" class="page-scroll m-auto">
                <i class="icon icon-scroll text-white display-3"></i>
            </a>
        </div>
    </div>
</section>
