<div class="container home-slides p-md-5">
    <div class="row">
        <div class="col owl-carousel">

            <!-- slide -->
            <div class="row">
                <div class="col-md-3 col-sm-12 order-md-last mb-4">
                    <img src="assets/img/slide_mission.png" alt="Our mission">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h3>Our mission</h3>
                    <p class="pt-2">
                        Frogtek helps the small shopkeepers in emerging markets to track and control their
                        business. With our Tiendatek software, a tablet and a barcode scanner, they register
                        transactions, get useful metrics and charge credit cards. Our data fuels Frogtek
                        Analytics tool used by Consumer Packaged Goods companies (CPGS), who for the first
                        time access this valuable information.
                    </p>
                </div>
                
            </div>

            <!-- slide -->
            <div class="row">
                <div class="col-md-3 col-sm-12 order-md-last mb-4">
                    <img src="assets/img/slide_problem.png" alt="Frogtek shopkeeper customers">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h3>The problem</h3>
                    <p class="pt-2">
                        There are around 800,000 shopkeepers in Mexico and 40,000,000 world wide. These small
                        stores are run by micro entrepreneurs who usually don't have the education or tools to
                        improve their businesses. As a result, they don't run their store to its full
                        potential and their profits suffer.
                    </p>
                    <p>
                        Shop weakness and info lack are also a big problem for Consumer Packaged Goods
                        companies who struggle to efficiently operate in a massive but opaque channel.
                    </p>
                </div>
            </div>

            <!-- slide -->
            <div class="row">
                <div class="col-md-3 col-sm-12 order-md-last mb-4">
                    <img src="assets/img/slide_tiendatek.png" alt="Tiendatek">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h3>Our product for Shops: Tiendatek </h3>
                    <p class="pt-2">
                        Our first application is Tiendatek, a point-of-sale system for shopkeepers with more
                        than 30,000 products and prices preloaded that helps them better manage their
                        inventory and improve their profits. All of the information entered into the tablet
                        synchronizes wirelessly with our servers so that we can provide both shopkeepers and
                        their suppliers with real-time reporting, analytics, and personalized services.
                    </p>
                    <p class="text-center pt-3">
                        <a href="http://tiendatek.info">
                            <button type="button" class="btn btn-lg btn-frogtek pl-5 pr-5">get it now</button>
                        </a>
                    </p>
                </div>
            </div>

            <!-- slide -->
            <div class="row">
                <div class="col-md-3 col-sm-12 order-md-last mb-4">
                    <img src="assets/img/slide_analytics.png" alt="Frogtek data">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h3>Our product for CPGs</h3>
                    <p class="pt-2">
                        Our algorithms load, clean and aggregate data from more than 1,500 shops in the cloud
                        in real time. Our database fuels a customizable Analytics tool that can provide
                        detailed answers to critical business questions. With Frogtek Analytics you can now
                        evaluate promotions, launches and understand your competitive position, in full
                        detail. Customized electronic surveys can be sent throughout the panel of shops.
                        Behavioral segmentation of shop customers will then be possible for the first time.
                        The traditional channel is finally being illuminated.
                    </p>
                    <p class="text-center pt-3">
                        <a href="https://analytics.frogtek.org/">
                            <button type="button" class="btn btn-lg btn-frogtek pl-5 pr-5">get it now</button>
                        </a>
                    </p>
                </div>
            </div>

            <!-- slide -->
            <div class="row">
                <div class="col-md-3 col-sm-12 order-md-last mb-4">
                    <img src="assets/img/slide_accomplishments.png" alt="Frogtek achievements">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h3 class="pb-2">Our Accomplishments</h3>
                    We have been recognized with several of the most important international awards (
                    <a class="text-info" href="2010/08/24/frogtek-is-the-first-winner-of-bbvas-open-talent-competition">BBVA
                        Open Talent 2010</a>,
                    <a class="text-info" href="2011/09/16/frogtek-wins-vodafones-mobile-clicks-competition">Vodafone Mobile
                        Clicks 2011</a>,
                    <a class="text-info" href="2011/02/15/we-have-won-the-mwomen-app-challenge">GSMA Global Mobile Award</a>...)
                    but our most important recognition come from both an increasing number fo shopkeepers
                    relying in Tiendatek to manage their earnings and the top level companies that use our
                    data on a daily basis to take their most important decisions.
                </div>
            </div>

        </div>
    </div>
</div>
