<div class="content home-slides">

    <div class="row justify-content-around">
        <div class="col-lg-8 owl-carousel">

            <!-- slide -->
            <div class="row p-2 justify-content-around">
                <div class="col-8 col-md-5 order-md-last">
                    <img src="assets/img/time_calendar.png" alt="frogtek prices">
                </div>
                <div class="col">
                    We are truly blessed because we have been recognized by multiple
                    international awards:
                    <ul>
                        <li>We won first place in the <a
                                href="2010/08/24/frogtek-is-the-first-winner-of-bbvas-open-talent-competition">
                            BBVA Open Talent </a>Competition
                        </li>
                        <li>We won first place at <a
                                href="2011/09/16/frogtek-wins-vodafones-mobile-clicks-competition">
                            Vodafone Mobile Clicks </a></li>
                        <li>David Del Ser, our CEO, has been recognized as a <a
                                href="2011/03/09/world-economic-forum-recognizes-our-work-with-a-young-global-leader-nomination">
                            Young Global Leader</a> by the World Economic Forum
                        </li>
                        <li>We were GSMA's <a
                                href="2011/02/15/we-have-won-the-mwomen-app-challenge">
                            Global Mobile Awards mWomen Base-of-the-Pyramid Apps Challenge
                            winner </a>
                        </li>
                    </ul>
                    <p class="text-center">
                        <a href="http://developing.frogtek.org/prensa/">
                            <button type="button" class="btn btn-lg btn-frogtek">read more</button>
                        </a>
                    </p>
                </div>
            </div>

            <!-- slide -->
            <div class="row p-2 justify-content-around">
                <div class="col-8 col-md-5  order-md-last">
                    <img src="assets/img/mc_mobile.png" alt="Tiendatek">
                </div>
                <div class="col">
                    <p>Frogtek helps the small shopkeepers in emerging markets to track and
                        control their business. With our <a
                                href="http://www.tiendatekweb.com/" target="_blank">Tiendatek</a>
                        software, a tablet and a barcode scanner, they register transactions,
                        get useful metrics and charge credit cards.
                        Our data fuels a Marketing Analytics tool used by Consumer Packaged
                        Goods companies (CPGS), who for the first time access this valuable
                        information.
                    </p>
                    <p class="text-center">
                        <a href="about">
                            <button type="button" class="btn btn-lg btn-frogtek">read more</button>
                        </a>
                    </p>
                </div>
            </div>


            <!-- slide -->
            <div class="row p-2 justify-content-around">
                <div class="col-7 col-md-4 order-md-last">
                    <img src="assets/img/product02-e1319739054678.jpg" alt="Tiendatek">
                </div>
                <div class="col">
                    <h3>Our product for Shops: Tiendatek </h3>
                    <p>Our first application is <a href="http://www.tiendatek.mx/"
                                                   target="_blank">Tiendatek</a>,
                        a point-of-sale system for shopkeepers that helps them better manage
                        their inventory and improve their profits.

                        All of the information entered into the phone or tablet synchronizes
                        wirelessly with our servers so that we can provide both shopkeepers
                        and
                        their suppliers with real-time reporting, analysis, and personalized
                        services.
                    </p>
                    <p class="text-center">
                        <a href="/products">
                            <button type="button" class="btn btn-lg btn-frogtek">get it now</button>
                        </a>
                    </p>
                </div>
            </div>


            <!-- slide -->
            <div class="row p-2 justify-content-around">
                <div class="col-8 col-md-5  order-md-last">
                    <img src="assets/img/new_media.png" alt="frogtek shopkeeper customers">
                </div>
                <div class="col">
                    <h3>Our shopkeeper customers</h3>
                    <p>
                        There are around 800,000 shopkeepers in Mexico and more than 500,000
                        in Colombia.

                        These small stores are run by micro entrepreneurs who usually don't
                        have the education
                        or tools to improve their businesses. As a result, they don't run
                        their store to its full potential
                        and their profits suffer.

                    </p>

                    <p class="text-center">
                        <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=fobu4b1z0c"
                           target="_blank">
                            <button type="button" class="btn btn-lg btn-frogtek">watch our video</button>
                        </a>
                    </p>
                </div>
            </div>

            <!-- slide -->
            <div class="row p-2 justify-content-around">
                <div class="col-7 col-md-4 order-md-last">
                    <img src="assets/img/renvxe-seencendiolaluz.jpg" alt="frogtek data">
                </div>
                <div class="col">
                    <h3> Our Business Intelligence product: Tiendatek Data</h3>
                    <p>
                        Sales registered in our shops are aggregated in our cloud. Rapidly
                        approaching 1 Million new tickets a month, our database fuels a
                        customizable Marketing Analytics tool that can provide detailed
                        answers
                        to critical business questions. With <a
                            href="http://www.tiendatek.mx/" target="_blank">Tiendatek
                        Data</a>
                        you can now evaluate promotions and understand your competitive
                        position, in full detail.

                        We'll complete the picture very soon with surveys and a loyalty
                        program
                        for end-shoppers. Behavioral segmentation of shop customers will then
                        be
                        possible for the first time. The traditional channel is finally being
                        illuminated.
                    </p>

                    <p class="text-center">
                        <a href="http://tiendatek.mx">
                            <button type="button" class="btn btn-lg btn-frogtek">try a demo</button>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>