<html lang="en">

<body>

    <main>
        <section id="page" class="container">
            <div class="row justify-content-around">
                <div class="col">

                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                    <meta charset="UTF-8" />
                    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
                    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

                    <link rel="stylesheet" href="/assets/vendor/bootstrap-4.1.3-dist/css/bootstrap.css" />
                    <link rel="stylesheet" href="/assets/vendor/owlcarousel2-2.3.4-dist/assets/owl.carousel.min.css" />
                    <link rel="stylesheet" href="/assets/css/frogtek.css" />
                    <h2 id="aviso-de-privacidad">Aviso de privacidad</h2>
                    <p>FROGTEK ESPAÑA, S.L.U. (en adelante, FROGTEK ESPAÑA), con domicilio en Parque Tecnológico Walqa, Edificio 1, 22197, Cuarte, Huesca (España), recaba sus datos personales, los de su tienda y los datos estadísticos que el KIT Tiendatek y Tiendatek Control genera por su operación diaria, también es responsable del uso que se le dé a los mismos y de su protección.</p>
                    <h2 id="datos-que-recabamos">Datos que recabamos</h2>
                    <p>FROGTEK ESPAÑA podrá recabar de usted los siguientes datos personales: nombre completo, apellidos, número de identificación fiscal, teléfono, teléfono celular, correo electrónico, domicilio, claves únicas de registro de población e información socioeconómica.</p>
                    <p>Sus datos personales podrán ser recabados de manera escrita, a través de los formatos o contratos que utilice FROGTEK ESPAÑA, de manera personal en nuestras oficinas, o a través de teléfono o medios electrónicos.</p>
                    <p>FROGTEK ESPAÑA recaba también toda la información que el KIT Tiendatek y Tiendatek Control y otras aplicaciones desarrolladas por FROGTEK ESPAÑA SLU generan en su operación diaria. Esto es, entre otros muchos datos, información de ventas, compras e inventarios.</p>
                    <h2 id="uso-de-sus-datos">Uso de sus datos</h2>
                    <p>Sus datos serán utilizados para las siguientes finalidades:</p>
                    <ol>
                        <li>Proveer los servicios y productos requeridos por usted.</li>
                        <li>Informar sobre cambios o nuevos productos o servicios que estén relacionados con el contratado o adquirido por el cliente.</li>
                        <li>Dar cumplimiento a obligaciones contraídas con nuestros clientes.</li>
                        <li>Evaluar la calidad del servicio.</li>
                        <li>Realizar estudios internos sobre hábitos de consumo.</li>
                        <li>Para fines estadísticos. FROGTEK ESPAÑA podrá utilizar los datos de uso de las aplicaciones para fines estadísticos; dichos datos de uso no son datos personales en términos de la Ley.</li>
                    </ol>
                    <h2 id="transmisi-n-de-datos">Transmisión de datos</h2>
                    <p>Nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo las excepciones previstas los artículos que al efecto establezcan las normativas en materia de Protección de Datos Personales en el país de origen del usuario, así como a realizar esta transferencia, cuando sea necesario, en los términos que fijen esas leyes, entre ellas, cuando sean solicitados por dependencias administrativas del gobierno.</p>
                    <ul>
                        <li>México: Excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</li>
                        <li>Colombia: -</li>
                    </ul>
                    <h2 id="acceso-rectificaci-n-cancelaci-n-y-oposici-n-de-los-datos-personales">Acceso, Rectificación, Cancelación y Oposición de los datos personales</h2>
                    <p>Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las finalidades señalados en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.</p>
                    <p>Los mecanismos que se han implementado para el ejercicio de dichos derechos son a través de la presentación de la solicitud respectiva ante nuestra área de datos personales:</p>
                    <h5 id="en-espa-a-">En España:</h5>
                    <ul>
                        <li>Número telefónico: - </li>
                        <li>Correo electrónico: info@frogtek.org </li>
                        <li>Oficinas: Frogtek España SLU. Parque Tecnológico Walqa, edificio 1. 22197 Cuarte, Huesca (España)</li>
                    </ul>
                    <h5 id="en-m-xico-">En México:</h5>
                    <ul>
                        <li>Número telefónico: 5273-3385 o 018007679133 </li>
                        <li>Correo electrónico: soporte.mexico@frogtek.org </li>
                        <li>Oficinas: Insurgentes Sur 319, int 303 B, Colonia Hipódromo, Delegación Cuauhtémoc, C.P. 06100. Ciudad de México, Mexico.</li>
                    </ul>
                    <h5 id="en-colombia-">En Colombia:</h5>
                    <ul>
                        <li>Número telefónico: -</li>
                        <li>Correo electrónico: soporte.colombia@frogtek.org</li>
                        <li>Oficinas: -</li>
                    </ul>
                    <p>Podrá presentar su solicitud en cualquiera de los medios de comunicación mencionados anteriormente.</p>
                    <p>Su solicitud deberá contener la siguiente información:</p>
                    <ol>
                        <li>Nombre completo.</li>
                        <li>Derecho que desee ejercer. </li>
                        <li>Datos que requiera acceder, ratificar, cancelar u oponerse a su tratamiento.</li>
                        <li>En caso de que solicite la rectificación o actualización de sus datos, deberá proporcionar el dato que sustituirá al anterior.</li>
                        <li>En caso de oposición al trato de sus datos, deberá indicar el dato personal y el uso al cual se opone.</li>
                        <li>En caso de cancelación o acceso, deberá indicar el dato a cancelar o acceder, según sea el caso.</li>
                    </ol>
                    <p>El plazo para atender su solicitud será de veinte días hábiles. La resolución se dará a conocer mediante el medio de comunicación a través del cual presentó su solicitud, excepto en los casos en que dicha solicitud se haya presentado por escrito en el domicilio del área de datos personales, ya que en tal supuesto la resolución se dará a conocer por escrito en el domicilio del área de datos personales.</p>
                    <p>Para mayor información, favor de comunicarse al área de datos personales mencionada anteriormente.</p>
                    <h2 id="revocaci-n-de-consentimiento">Revocación de consentimiento</h2>
                    <p>En todo momento, usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, a fin de que dejemos de hacer uso de los mismos. Para ello, es necesario que presente su petición en el área de datos personales, de conformidad con el procedimiento establecido en el punto anterior.</p>
                    <p>Si como consecuencia de la revocación de su consentimiento no es posible brindar el servicio o producto contratado por usted, se entenderá que el mismo se ha dado por terminado por parte suya.</p>
                    <h2 id="modificaciones-al-aviso-de-privacidad">Modificaciones al aviso de privacidad</h2>
                    <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad. Estas modificaciones estarán disponibles al público a través de los siguientes medios:</p>
                    <ol>
                        <li>Anuncios visibles en nuestros establecimientos o centros de atención a clientes.</li>
                        <li>Trípticos o folletos disponibles en nuestros establecimientos o centros de atención a clientes </li>
                        <li>En esta página de Internet.</li>
                    </ol>
                    <h2 id="cookies-y-web-beacons">Cookies y web beacons</h2>
                    <p>Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña.</p>
                    <p>Por su parte, las web beacons son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros.</p>
                    <p>Le informamos que FROGTEK ESPAÑA, no utiliza cookies ni web beacons para obtener información personal de usted.</p>
                    <h2 id="quejas-y-denuncias">Quejas y denuncias</h2>
                    <p>Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la normativa aplicable en su país en relación con la Protección de Datos Personales, podrá interponer la queja o denuncia ante el organismo correspondiente.</p>
                    <ul>
                        <li>México: IFAI - www.ifai.org.mx</li>
                        <li>Colombia: -</li>
                    </ul>
                    <p>Fecha de última actualización: <em>25 de febrero de 2020.</em></p>
                </div>
            </div>
        </section>
    </main>

</body>

</html>
