<!doctype html>
<html lang="en">
<head>
    {% include common-head.html %}
</head>

<body>
{% include common-nav.html %}

<main>
    {% include home-slides.html %}
    {% include home-empowering.html %}
</main>

{% include common-footer.html %}
{% include common-scripts.html %}

<script src="{{baseurl}}/assets/vendor/owlcarousel2-2.3.4-dist/owl.carousel.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function() {
    // Initialize Owl Carousel
    $('.owl-carousel').owlCarousel({
      autoplay: true,
      autoplayHoverPause: true,
      nav: false,
      dots: true,
      loop: true,
      items: 1,
      stagePadding: 0,
      margin: 20
    })
  })
</script>

</body>
</html>